.notes {
  display: flex;
  justify-content: space-between;
  list-style: none;
  max-width: 60vw;
  min-height: 2.5rem;
  align-items: center;

  padding: 15px 5px 15px 22px;
  margin: 1.5rem 0.5rem;
  text-align: left;
  font-weight: bold;
  border-radius: 2px;
  background: #e6c363;
  color: #0f0a18;
  box-shadow: #0a0a0a 1px 8px 9px 1px;
}

.notes:nth-child(even) {
  background-color: #808f9e;
}

button .close {
  width: 1.5rem;
  margin: -5px 0 -6px 9px;
  color: #0f0a18;
  font-size: 20px;
  transition: 0.3s;
  cursor: pointer;
}
button .close:hover {
  opacity: 0.7;
}

@media only screen and (min-width: 600px) {
  ul {
    display: inline-block;
    width: 30%;
  }
}
