body {
  background: #0f0a18;
}

.App {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

input {
  background: transparent;
  width: 15rem;
  padding: 8px 5px;
  border-radius: 8px;
  border: 2px solid #f1c95c;
  color: white;
  font-size: 1.2rem;
  outline: none;
}

button {
  background: transparent;
  border: none;
  outline: none;
}

button img {
  width: 2.3rem;
  margin: 0 5px -13px 5px;
  transition: 0.3s;
}

button img:hover {
  opacity: 0.9;
}

.notes {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  list-style: none;
  margin-top: 9px;
  max-width: 65vw;
  border-radius: 8px;
  background: #e6c363;
  box-shadow: #0a0a0a 1px 5px 8px 0px;
}

.notes img {
  width: 1.5rem;
  margin: -5px 0 -6px 9px;
  transition: 0.3s;
}
.notes img:hover {
  opacity: 0.9;
}

.stickynotes {
  margin: 1.5rem 0.5rem;
  text-align: left;
  font-weight: bold;
  color: #0f0a18;
}
